/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	FLT3_MRD Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Default config options
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
	sequences = "${baseDir}/sequences"
	input = "${baseDir}/samplesheet.csv"
	bedfile = "${baseDir}/assets/NPM1_FLT3.bed"
	filt3r_ref = "${baseDir}/assets/flt3_exon14-15.fa"
	adaptors = "${baseDir}/assets/TruSeq2-PE.fa"
	nextera_adapters = "${baseDir}/assets/NexteraPE-PE.fa"
	genome = "${baseDir}/assets/hg19_all.fasta"
	genome_dir = new File(genome).parent
	ind_files = new File(genome).name
	annovar_db = "${baseDir}/assets/humandb"
	genome_minimap_getitd = "${baseDir}/assets/hg37.fa"
	get_ITD_path = "/opt/getitd"
	outdir = "${baseDir}/Final_Output" 
	trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
}

process {
	withName:TRIM {
		container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
	}
	withName:MAPBAM {
		container = 'docker.io/dukegcb/bwa-samtools:latest'
	}
	withName:/(FILT3R|GETITD)/ {
		container = 'docker.io/gulnazzaidi/getitd_filt3r:v0.90'
	}
	withName:MINIMAP {
		container = 'docker.io/staphb/minimap2:2.30'
	}
	withName:FLT3_ITD_EXT {
		container = 'docker.io/zhkddocker/flt3_itd_ext:v1.1'
	}
	withName:/(COVERAGE|BAM_TO_FASTQ)/ {
		container = 'quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
	}
	withName:/(VARSCAN|SORTBAM)/ {
		container = 'docker.io/gulnazzaidi/varscan:2.3.9'
	}
	withName:ANNOVAR {
		container = 'docker.io/bioinfochrustrasbourg/annovar:2018Apr16'
	}
	withName:/(FORMAT_ANNOVAR_OUT|COMBINE_ALL)/ {
		container = 'docker.io/jupyter/scipy-notebook:x86_64-ubuntu-22.04'
	}
	
	cpus   = { 1      * task.attempt }
	memory = { 6.GB   * task.attempt }
	time   = { 4.h    * task.attempt }

	errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
	maxRetries    = 1
	maxErrors     = '-1'

	withLabel:process_single {
		cpus   = { 1                   }
		memory = { 6.GB * task.attempt }
		time   = { 4.h   * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 8     * task.attempt }
		memory = { 12.GB * task.attempt }
		time   = { 8.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 16     * task.attempt }
		memory = { 36.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_high {
		cpus   = { 32    * task.attempt }
		memory = { 72.GB * task.attempt }
		time   = { 32.h   * task.attempt }
	}
	withLabel:process_long {
		cpus   = { 16    * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 200.GB * task.attempt }
	}
}

profiles {
	docker {
		docker.enabled  	= true
		docker.runOptions	= '-u $(id -u):$(id -g)'
	}
}

timeline {
	enabled = true
	file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
	enabled = true
	file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
	enabled = true
	file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
	enabled = true
	file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
	name            = 'FLT3_MRD'
	mainScript      = 'main.nf'
	description     = """Detection of ITDs in FLT-3 gene"""
}

